:root{
    --background-color: rgba(247, 227, 221,1);
}

body{
    background-image: url("/assets/images/bg.png");
    background-repeat: repeat;
    background-color: var(--background-color);
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    background-color: var(--background-color);
    box-shadow: 0px 0px 48px 48px var(--background-color);
    -webkit-box-shadow: 0px 0px 48px 48px var(--background-color);
    -moz-box-shadow: 0px 0px 48px 48px var(--background-color);
    position: relative;
    transition: opacity 400ms;
}

.load-hide {
    transition: opacity 400ms;
}

.opacity-0 {
    opacity: 0;
}

#content {
    flex-grow: 1;
    position: relative;
}

#header, #footer {
    flex-shrink: 0;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Passion One', sans-serif;
}

h1 {
    color: #fff;
    font-size: 5rem;
    text-shadow:
        3px 3px 2px #000,
        -3px 3px 2px #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
    transform: translate(-64px) rotate(-12deg);
    display: inline-block;
}

/* Custom Components */

.app-btn-logout {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("/assets/images/btn-logout.svg") no-repeat;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}

.app-btn-logout:hover {
    background: url("/assets/images/btn-logout-hover.svg") no-repeat;
}

.app-btn-logout:active {
    background: url("/assets/images/btn-logout-active.svg") no-repeat;
}

.app-btn-capture {
    min-width: 158px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("/assets/images/capture-1.svg") no-repeat;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.app-btn-capture:hover {
    background: url("/assets/images/capture-2.svg") no-repeat;
}

.app-btn-capture:active {
    background: url("/assets/images/capture-3.svg") no-repeat;
}


.gl-photo>img {
    max-width: 250px;
    max-height: 250px;
    margin: 10px 10px 28px 10px;
    pointer-events: none;
}

.gl-photo {
    background: #f9ffff;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: #e4e1de solid 2px;
    position: relative;
    border-radius: 3px;
    transition: transform 350ms;
}

.gl-photo-frame {
    display: inline-block;
    /* width: 300px; */
    min-height: 280px;
    /* padding: 12px 0; */
    z-index: 0;
    position: relative;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.gl-photo-frame.selected .gl-photo {
    transform: rotate(0deg) scale(1.25) !important;
    z-index: 1;
}

