:root{
    --background-color: rgba(247, 227, 221,1);
    --bs-body-font-size: 1.25rem !important;
}

body{
    background-image: url("/assets/images/bg.png");
    background-repeat: repeat;
    background-color: var(--background-color);
    /* overflow: hidden; */
    font-family: 'urbanist', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    background-color: var(--background-color);
    box-shadow: 0px 0px 48px 48px var(--background-color);
    -webkit-box-shadow: 0px 0px 48px 48px var(--background-color);
    -moz-box-shadow: 0px 0px 48px 48px var(--background-color);
    position: relative;
    transition: opacity 400ms;
    overflow-x: visible;
}

.load-hide {
    transition: opacity 400ms;
}

.opacity-0 {
    opacity: 0;
}

.filer-grayscale {
    filter: grayscale(100%);
}

#content {
    flex-grow: 1;
    position: relative;
}

#header, #footer {
    flex-shrink: 0;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Passion One', sans-serif;
}

h1 {
    color: #fff;
    font-size: 5rem;
    text-shadow:
        3px 3px 2px #000,
        -3px 3px 2px #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
    transform: translate(-64px) rotate(-12deg);
    display: inline-block;
}

h2 {
    color: #fff;
    font-size: 3rem;
    text-shadow:
        3px 3px 2px #000,
        -3px 3px 2px #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
    display: inline-block;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.click-through {
    pointer-events: none;
}

/* Custom Components */

.app-btn-logout {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("/assets/images/btn-logout.svg") no-repeat;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}

.app-btn-logout:hover {
    background: url("/assets/images/btn-logout-hover.svg") no-repeat;
}

.app-btn-logout:active {
    background: url("/assets/images/btn-logout-active.svg") no-repeat;
}

.app-capture-counter {
    position: absolute;
    bottom: 0;
    right: 180px;
    z-index: 10;
}

.app-btn-capture {
    min-width: 158px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("/assets/images/capture-1.svg") no-repeat;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    z-index: 10;
}

.app-btn-capture:hover {
    background: url("/assets/images/capture-2.svg") no-repeat;
}

.app-btn-capture:active {
    background: url("/assets/images/capture-3.svg") no-repeat;
}


.gl-photo>img {
    max-width: 250px;
    max-height: 250px;
    margin: 10px 10px 28px 10px;
    pointer-events: none;
}

.gl-photo {
    background: #f9ffff;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: #e4e1de solid 2px;
    position: relative;
    border-radius: 3px;
    transition: transform 350ms;
}

.gl-photo-frame {
    display: inline-block;
    /* width: 300px; */
    min-height: 280px;
    /* padding: 12px 0; */
    z-index: 0;
    position: relative;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.gl-photo-frame.selected .gl-photo {
    transform: rotate(0deg) scale(1.25) !important;
    z-index: 1;
}

.gl-photo-tool {
    position: absolute; bottom: 0; z-index: 5; width: 100%;
    overflow: hidden;
}

.gl-photo-tool>div {
    transition: transform 300ms;
}


.gl-photo-tool-hidden>div {
    transform: translateY(95%);
    pointer-events: none;
}



.gl-icon-gl-view,
.gl-icon-gl-print,
.gl-icon-gl-del {
    width: 82px;
    height: 82px;
    text-decoration: none !important;
}

.gl-icon-gl-view {
    background-image: url("/assets/images/view-1.svg");
}
.gl-icon-gl-print {
    background-image: url("/assets/images/print-1.svg");
}
.gl-icon-gl-del {
    background-image: url("/assets/images/del-1.svg");
}

.gl-icon-gl-view:hover {
    background-image: url("/assets/images/view-2.svg");
}
.gl-icon-gl-print:hover {
    background-image: url("/assets/images/print-2.svg");
}
.gl-icon-gl-del:hover {
    background-image: url("/assets/images/del-2.svg");
}

.gl-icon-gl-view:active {
    background-image: url("/assets/images/view-3.svg");
}
.gl-icon-gl-print:active {
    background-image: url("/assets/images/print-3.svg");
}
.gl-icon-gl-del:active {
    background-image: url("/assets/images/del-3.svg");
}

.ratio__f4 {
    /* aspect-ratio: 33/21; */
    aspect-ratio: 777/525;
}
.ratio__f4_portait {
    aspect-ratio: 21/33;
}
