/* latin-ext */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/vendor/google/PassionOne-Regular.ttf) format('truetype');

}
/* latin-ext */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/vendor/google/PassionOne-Bold.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/vendor/google/PassionOne-Black.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-LightItalic.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-Italic.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-BoldItalic.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-ExtraBoldItalic.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-BlackItalic.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-Light.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-Regular.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-Bold.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-ExtraBold.ttf) format('truetype');

}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/vendor/google/static/Urbanist-Black.ttf) format('truetype');

}
/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/vendor/google/static/Cinzel-Regular.ttf) format('truetype');
}
/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/vendor/google/static/Cinzel-Medium.ttf) format('truetype');
}
/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/vendor/google/static/Cinzel-Bold.ttf) format('truetype');
}

/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/vendor/google/static/Cinzel-ExtraBold.ttf) format('truetype');
}
/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/assets/vendor/google/static/Cinzel-Black.ttf) format('truetype');
}

